*{
    font-family: sans-serif;
}
th, td {
	padding: 10px;
    	font-size: 0.9em;
	text-align: center;
}
th {
	background-color: #009879;
	color: white;
}
td {
    background-color: #E6E5E4;
}
